
        *{ 
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
        div.container{
                border: 5px solid rgb(115, 128, 0);
                width: 80%;
                margin: 0 auto 0 auto;
        }
        header{
            color: rgb(255, 255, 255);
            background-color: rgb(247, 193, 193);
            text-shadow: rgb(122, 122, 122) 4px 3px 0px;
            background-color: rgb(255, 52, 106);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
            letter-spacing: 2px;
            word-spacing: 2px;
            font-weight: 700;
            text-decoration: none;
            font-style: italic;
            font-variant: normal;
            text-transform: capitalize;
            text-align: center;
            

        }
        .hero img{
            width: 100%;
        }

        main{
            background-color: yellow;
            font-size: 8px
        }

        div.left, div.middle, div.right{
                border: 3px solid rgb(251, 0, 255);
                width: 30%;
         
        }
    
    
         aside img{
                width: 100%;

        }
        aside{
            display: flex;
            justify-content: space-between;
            background-color: blueviolet;  
        }

        nav{
            background-color: rgb(139, 0, 0);

        }
        ul{
            text-align: center;

        }
        li{
            display: inline-block;
            width: 150px;
            border: 2px solid rgb(0, 251, 255);
            line-height: 3em;
            font-family:'Courier New', Courier, monospace
            

        }
        a{
            color: rgb(250, 129, 9);
            text-decoration: none;
            border: 1px solid rgb(255, 140, 0);
            display: block;

        }
footer{
    display: flex;
    border: 3px solid rgb(255, 200, 0);
    background-color: rgba(0, 255, 255, 0.824);
}
